<div class="container">
    <div class="title">
        <h1>COMPRAS</h1>
    </div>
    <div class="produtosDiv">
        <div class="produtoCats">
            <h4 class="name">Data Compra</h4>
            <h4 class="name">Fornecedor</h4>
            <h4></h4>
        </div>
        <div class="produto" *ngFor="let compra of getItensPage()">
            <h4 class="name">{{compra?.data | date : 'dd/MM/yyyy'}}</h4>
            <h4 class="name">{{compra?.fornecedor?.name}}</h4>
            <h4 *ngIf="role == 'compra' || role == 'admin'" (click)="goToDetail(compra)"><fa-icon [icon]="faInfo"></fa-icon></h4>
        </div>
    </div>
    <div class="pagination" *ngIf="pages && pages > 1">
        <div class="buttonsPag">
            <div class="btnPag">
                <fa-icon [icon]="faLeft" (click)="getPrevPage()" [class.desativado] = "currentPage === 1"></fa-icon>
            </div>
            <div class="btnPag">
                <fa-icon [icon]="faRight" (click)="getNextPage()"  [class.desativado] = "currentPage === pages"></fa-icon>
            </div>
        </div>
    </div>
    <div class="addProduct">
        <button *ngIf="role == 'compra' || role == 'admin'" (click)="addCompra()">+</button>
    </div>
</div>