.container {
    padding: 30px;

    .title {
        text-align: center;
        width: 100%;
        background-color: #9364F1;
        padding: 5px;

        h1 {
            color: #fff;
            font-size: 25px;
            margin: 10px 0px;
        }
    }

    .produtoCats{
        display: flex;
        margin: 30px 10px 0px 30px;
        
        h4 {
            flex: 1;
            text-align: center;
            margin: 5px;

            &.name, &.categoria {
                flex: 2;
            }
        }
    }

    .produtosDiv {
        margin-top: 10px;

        .produto {
            width: calc(100% - 40px);
            border: 1px solid #cacaca;
            border-radius: 30px;
            margin: 20px;
            padding: 10px;
            display: flex;

            h4 {
                flex: 1;
                text-align: center;
                margin: 5px;

                &.name, &.categoria {
                    flex: 2;
                }
            }
        }
    }

    .addProduct {

        position: fixed;
        bottom: 40px;
        right: 40px;

        button {
            border: none;
            background: #9671f1;
            border-radius: 30px;
            color: #fff;
            width: 50px;
            height: 49px;
            padding: 0;
            margin: 0;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    fa-icon {
        cursor: pointer;
    }
}


.buttonsPag {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 30px 0px;

    .btnPag {
        fa-icon {
            font-size: 1.5rem;

            &.desativado {
                color: #cacaca;
            }
        }
    }
}