<div class="container">
    <div class="title">
        <h1 *ngIf="!isEditing">ADICIONAR CLIENTE</h1>
        <h1 *ngIf="isEditing">ALTERAR CLIENTE</h1>
    </div>

    <form     
        role="form" 
        name="produtoForm" 
        novalidate="novalidate"
        data-parsley-priority-enabled="false" 
        method="post"         
        autocomplete="off">

        <div class="formGroup">
            <label>Nome do Cliente</label>
            <input type="text" [(ngModel)]="cliente.name" id="name" name="name"/>
        </div>

        <div class="formGroup">
            <label>Email do Cliente</label>
            <input type="text" [(ngModel)]="cliente.email" id="email" name="email"/>
        </div>

        <div class="formGroup">
            <label>Telefone do Cliente</label>
            <input type="text" [(ngModel)]="cliente.phoneNumber" id="phone" name="phone"/>
        </div>

        <div class="btnDiv">
            <button *ngIf="!isEditing" class="btnSubmit" (click)="submit()" type="submit">Cadastrar</button>
            <button *ngIf="isEditing" class="btnDelete" (click)="delete()">Excluir</button>
            <button *ngIf="isEditing" class="btnSubmit" (click)="edit()">Alterar</button>
    
        </div>
    </form>
</div> 