* {
    font-family: 'Montserrat',-apple-system,Roboto,Arial,sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #291F3BCC;
}

a {
    padding: 2.2rem 0 2.2rem 0;
    background: #534962;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #a5a5a5;
    font-size: 20px;
    color: #fff;
}

span {
    padding: 2.2rem 0 2.2rem 0;
    background: #534962;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #a5a5a5;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}