.container {
    padding: 30px;

    .title {
        text-align: center;
        width: 100%;
        background-color: #9364F1;
        padding: 5px;

        h1 {
            color: #fff;
            font-size: 25px;
            margin: 10px 0px;
        }
    }
}

.cards {
    display: flex;
    column-gap: 30px;
    justify-content: space-evenly;
    padding: 30px;
}

.card {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

.card-title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 15px;
}